mjml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="mjml">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="mj-head">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="mj-title" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
